<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="text-center">
    <div class="center-container">
        <%= render "items/remote_modal", title: "How does TickIt work?" do %>
            <p style="font-weight: bold;">TickIt is a community driven, raffle-ticket based marketplace</p>
            <p style="font-weight: bold; margin-bottom: 5px;">Selling an Item</p>
            <p>Selling an item is easy. Simply click 'Sell an Item', add a brief description, desired sell goal and image, then post. TickIt will automatically calculate the number of tickets for your item and then post it for other users to see. Once your item has sold out of tickets, a winner will be selected and you will recieve your payout.</p>
            <p style="font-weight: bold; margin-bottom: 5px;">Buying a Ticket</p>
            <p>Buying a ticket for an item is even easier. Find an item you like on the home page, click 'Buy Ticket', and you're done! Once the listing has sold out of tickets, a winner is awarded the item via a random selection. The progress bar beneath each item displays how many tickets remain.</p>
            <p style="font-weight: bold; margin-bottom: 5px;">TickIt Rules</p>
            <p style="margin-bottom: 5px;">1. Each item raffle has a cap of 3000 tickets - this is to prevent winning from becoming too unlikely</p>
            <p style="margin-bottom: 5px;">2. There is a maximum of 1 ticket per user per item - this it to keep it fair</p>
            <p>3. Winner selections are completely random - rest assured you have the same chance as everyone else</p>
            <p style="font-weight: bold; margin-bottom: 5px;">How Tickets Work</p>
            <p>Each ticket is always £0.50, regardless of the item. To start buying tickets, you need to deposit money into your TickIt wallet which is done on the home page. When you buy a ticket, £0.50 will be deducted from your wallet, and when you sell an item, the payout will be deposited into your wallet.</p>
            <p style="font-weight: bold; margin-bottom: 5px;">Our Cut of the Cake</p>
            <p>Our pricing model is very simple - we take 5% from the payout of every sold item, leaving each seller with 95%. Buyers only pay the ticket price of £0.50, no extra 'service fee' or hidden charges.</p>
        <% end %>
    </div>
  </div>
</div>
