<div id="<%= dom_id item %>">
  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Sell goal:</strong>
    <%= item.sell_goal %>
  </p>

  <p>
    <strong>User:</strong>
    <%= item.user_id %>
  </p>

</div>
